@model List<Student>;
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

@if (Model?.Count > 0)
{
    foreach (var student in Model)
    {
        <h2>@student.Id</h2>
        <h2>@student.Name</h2>
        <h2>@student.Gender</h2>
    }
}
else
{
    <h2>No student found!</h2>
}